.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);

    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 250px;
}

.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
    
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}
.app__navbar-login a:hover{
    border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div{
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--color-black);
    transition: 0.5 ease;
    flex-direction: column;
    z-index: 10;
}

.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen-links{
    list-style: none;
}

.app__navbar-smallscreen-links li{
    list-style: none;
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins';
}

.app__navbar-smallscreen-links li:hover{
    color: var(--color-white);
}

@media screen and (max-width: 2000px){
    .app__navbar-logo img {
        width: 300px;
    }

}

@media screen and (max-width: 1150px){
    .app__navbar-links{
        display: none;
    }
    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px){
    .app__navbar {
        padding: 1rem;
    }
    .app__navbar-login{
        display: none;
    }
    .app__navbar-logo img{
        width: 100px;
    }
    
}